.nav-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #2196F3;
    grid-gap: 5px;    
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

/* .nav-container > div {
    background-color: rgba(6, 94, 3, 0.8);
    text-align: center;
} */

.nav-item {
    text-decoration: none;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    width: 25%;
    text-align: center;
}

.selcted {
    color: black;
    font-weight: bold;
    border: 1px solid black;
}