.player-options-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid Purple;
  }
  
  .player-options-wrapper > div {
    border: 1px solid red;
    text-align: center;
    font-size: 10px;
  }
  
  .fold-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .bet-raise-wrapper {
    grid-column: 2;
    grid-row: 1 / span 3;
    border: 1px solid Yellow;
    display: grid;
    grid-template-columns: auto;
  }
  
  .slider-wrapper {
    border: solid 1px royalblue;
    grid-row-start: 1;
    grid-row-end: span 5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr;
  }
  
  .slider-wrapper > div {
    border: solid 1px black;
  }
  
  .bet-raise-button-wrappers {
    border: solid 1px khaki;
    display: flex;
    flex-direction: row;
  }
  
  .bet-button {
    border: solid 1px brown;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .raise-button {
    border: solid 1px greenyellow;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

.folded {
  background-color: black;
}