.poker-table-wrapper {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
}

.poker-table {
  background-image: url('../Pictures/poker-table.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.player-profile {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.player-profile[activeClassName="selected"] {
  background-color: hotpink;
}

.player-cards {
  border: 1px ridge hotpink;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.player-chips {
  border: 1px solid skyblue;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealer-smallblind-bigblind {
  border: 1px solid orangered;
  height: 100%;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealer {
  border: 2px solid red;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.small-blind {
  border: 1px solid black;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.big-blind {
  border: 1px solid black;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.card-wrapper {
  border: 1px solid crimson;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  align-items: center;
  height: 50%;
  padding: 10px;
}

.card {
  border: 1px solid white;
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 4px;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.hand {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  border: 1px solid white;
  margin: .5px;
  height: 40px;
}

.mid-section-bottom {
  grid-area: twelve thirteen fourteen;
  border: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chips-container {
  border: 1px gold solid;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.chips-pic {
  max-height: 70%;
}

.player-face {
  border: 1px solid Yellow;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.playerFace {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.seating-wrapper {
width: 100%;
  display: grid;
  grid-template-areas:
  'one two three four five'
  'six seven eight nine ten'
  'eleven twelve thirteen fourteen fifteen'
  'sixteen seventeen eighteen nineteen twenty'
}

.pointy-kim-seat {
  grid-area: two;
}

.kimmy-seat {
  grid-area: three;
}

.borat-seat {
  grid-area: four;
}

.et-seat {
  grid-area: ten;
}

.oscar-seat {
  grid-area: fifteen;
}

.kim-seat {
  grid-area: six;
}

.neo-seat {
  grid-area: eleven;
}

.leno-seat {
  grid-area: nineteen;
}

.drake-seat {
  grid-area: seventeen;
}

.putin-seat {
  grid-area: eighteen;
}

.mid-section-top {
  grid-area: 7 8 9;
  border: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seating {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /*Make the grid smaller than the container*/
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}

.seating>div {
  text-align: center;
  font-size: 20px;
}


btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}