.poker-table-wrapper {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.poker-table {
  background-image: url('../Pictures/poker-table.jpg');
  background-size: 100%;
  width: 80%;
  border: 1px solid red;
}