.poker-table-wrapper {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: #477148;
}

.poker-table {
  background-image: url('../Pictures/poker-table.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.seating-wrapper {
  border: 1px solid orange;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seating {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /*Make the grid smaller than the container*/
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}

.seating>div {
  text-align: center;
  font-size: 30px;
}

.player-profile {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.player-face {
  border: 1px solid Yellow;
  height: 100%;
}

.player-cards {
  border: 1px ridge hotpink;
  height: 100%;
}

.player-chips {
  border: 1px solid skyblue;
  height: 100%;  
}

.dealer-button {
  border: 1px solid orangered;
  height: 100%;
}

.mid-section-top {
  border: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span 3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-wrapper {
  border: 1px solid crimson; 
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-gap: 3px;
  position: fixed;
}

.card {
  border: 1px solid greenyellow;
}

.mid-section-bottom {
  border: 1px solid black;  
  grid-column-start: 2;
  grid-column-end: span 3;
}